<button (click)="showConfig()">get config</button>
{{ config }}

<div>
  <p  style="display: block" class="mat-h1">点击下方列表可以删除</p>
  <button mat-flat-button color="primary" (click)="add()">add user</button>
  <button mat-flat-button color="primary" (click)="clear()">clear</button>
  <li *ngFor="let user of users">
    <a (click)="delete(user.id)">id: {{ user.id }} name: {{ user.name }}</a>
  </li>
</div>

<div>
  <button mat-raised-button color="primary" (click)="logout()">logout</button>
</div>
