<div>{{ title }}</div>

<mat-toolbar>
  <button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <button mat-icon-button>
    <mat-icon color="warn">favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon style="color: blueviolet;">share</mat-icon>
  </button>
</mat-toolbar>

<button mat-flat-button color="primary">hello</button>

<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<nav>
  <ul>
    <li>
      <a routerLink="/first-component" routerLinkActive="active"
        >First Component</a
      >
    </li>
    <li>
      <a routerLink="/second-component" routerLinkActive="active">
        Second Component
      </a>
    </li>
    <li>
      <a [routerLink]="['/http-client']" routerLinkActive="router-link-active">
        Http
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
